:root {
    --navbar-height: 7.5vh;
    --standardised-container-width: 85%;
}

@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #003b3c;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    margin: 0;
}

a {
    text-decoration: inherit;
}

a:hover {
    text-decoration: none;
    color: gainsboro;
}

.site-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.navbar {
    display: flex;
    justify-content: center;
    height: var(--navbar-height);
    background-color: #003b3c;
    box-shadow: 0 0 15px black;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: var(--standardised-container-width);
}

.nav-group {
    display: flex;
    flex-flow: row nowrap;
}

.nav-group > * {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 4rem 0 0;
    height: 100%;
}

.nav-group:last-child > * {
    margin: 0 0 0 4rem;
}

.navbar-text-logo {
    font-size: 22px;
    font-weight: bold;
}

.leaderboard-wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userRow {
    background-color: #112A12
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #48691e;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-group, .nav-group:last-child {
        margin: 10px 0;
    }
}
