backend/db.sqlite3
backend/authentication/__pycache__/__init__.cpython-312.pyc
backend/authentication/__pycache__/admin.cpython-312.pyc
backend/authentication/__pycache__/apps.cpython-312.pyc
backend/authentication/__pycache__/models.cpython-312.pyc
backend/authentication/__pycache__/serializers.cpython-312.pyc
backend/authentication/__pycache__/urls.cpython-312.pyc
backend/authentication/__pycache__/validators.cpython-312.pyc
backend/authentication/__pycache__/views.cpython-312.pyc
backend/garden/__pycache__/__init__.cpython-312.pyc
backend/garden/__pycache__/admin.cpython-312.pyc
backend/garden/__pycache__/apps.cpython-312.pyc
backend/garden/__pycache__/models.cpython-312.pyc
backend/garden/__pycache__/serializers.cpython-312.pyc
backend/garden/__pycache__/urls.cpython-312.pyc
backend/garden/__pycache__/views.cpython-312.pyc
backend/garden/migrations/__pycache__/__init__.cpython-312.pyc
backend/qrCodes/__pycache__/__init__.cpython-312.pyc
backend/qrCodes/__pycache__/admin.cpython-312.pyc
backend/qrCodes/__pycache__/apps.cpython-312.pyc
backend/qrCodes/__pycache__/models.cpython-312.pyc
backend/qrCodes/__pycache__/permisions.cpython-312.pyc
backend/qrCodes/__pycache__/qrCodeUtil.cpython-312.pyc
backend/qrCodes/__pycache__/serializers.cpython-312.pyc
backend/qrCodes/__pycache__/urls.cpython-312.pyc
backend/qrCodes/__pycache__/views.cpython-312.pyc
backend/qrCodes/migrations/__pycache__/__init__.cpython-312.pyc
backend/qrCodes/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/qrCodes/migrations/__pycache__/0002_remove_qrcode_qr_code_image.cpython-312.pyc
backend/swe/__pycache__/__init__.cpython-312.pyc
backend/swe/__pycache__/settings.cpython-312.pyc
backend/swe/__pycache__/urls.cpython-312.pyc
backend/swe/__pycache__/wsgi.cpython-312.pyc
backend/garden/migrations/0001_initial.py
backend/garden/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/qrCodes/migrations/0003_qrcode_scanned_by_users_alter_qrcode_code.py
backend/qrCodes/migrations/__pycache__/0003_qrcode_scanned_by_users_alter_qrcode_code.cpython-312.pyc
