<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>SWE</title>
</head>
<body>
    <div class="site-wrapper">
        <nav class="navbar navbar-fixed-top">
            <div class="nav-container">
                <div class="nav-group">
                    <a class="navbar-text-logo" href=".">Garden App</a>
                </div>
                <div class="nav-group">
                    <a class="nav-group-element" href="login.html">Login</a>
                    <a href="login.html">Register</a>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="jumbotron-container">
                <h1>I love plants!!!!!</h1>
                <p> we must plant</p>
                <button class="btn btn-success">Sign in</button>
            </div>
        </div>

        <div class="container">
            
        </div>
    </div>
</body>
</html>