<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/leaderboard.css">
    <title>Leaderboard</title>

</head>
<body>
    <div class="site-wrapper">
        <nav class="navbar navbar-fixed-top">
            <div class="nav-container">
                <div class="nav-group">
                    <a class="navbar-text-logo" href="#">Garden App</a>
                </div>
                <div class="nav-group">
                    <a class="nav-group-element">Login</a>
                    <a class="">Register</a>
                </div>
            </div>
        </nav>

        <div class="leaderboard-wrapper">
            <div class="leaderboard">
                <table>
                    <thead id="header">
                    <tr>
                        <th>Place</th>
                        <th>Username</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr class="userRow">
                            <td>Place</td>
                            <td>User</td>
                            <td>Point</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="./js/leaderboard.js"></script>
</body>
</html>