:root {
  /* Change to modify the height of the navbar and the */
  /* margin of the jumbotron */
  --navbar-height: 5rem;
  --standardised-container-width: 85%;
}

@font-face {
  font-family: 'Outfit';
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
}

body {
  background-color: #003b3c !important; 
  font-family: 'Outfit', sans-serif !important;
  font-size: 18px;
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
} a:hover {
  text-decoration: none !important;
  color: gainsboro !important;
}

.site-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.spacer {
  height: var(--navbar-height);
}

.navbar {
  position: fixed !important;
  justify-content: center !important;

  height: var(--navbar-height);
  width: 100%;

  background-color: #003b3c !important;

  box-shadow: 0 0 15px black;
}

.nav-container {
  display: flex;
  justify-content: space-between;

  width: var(--standardised-container-width);
}

.nav-group {
  display: flex;
  flex-flow: row nowrap;
}

.nav-group > * {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  color: white !important;

  margin: 0 4rem 0 0;
  height: 100%;
  width: auto;
}

.nav-group:last-child > * {
  margin: 0 0 0 4rem;
}

.navbar-text-logo {
  font-size: 22px;
  font-weight: bold;
}

.jumbotron {
  display: flex;

  justify-content: center;
  align-items: center;

  background: url(./res/plant.webp);

  background-repeat: no-repeat;
  background-size: 100% auto;
  object-fit: fill;

  padding: 100px 0 100px 0;

} 

.jumbotron-container {
  width: var(--standardised-container-width);

  display: flex;
  flex-flow: column nowrap;
}

.jumbotron-container > h1, p {
  padding: 15px;
  border-radius: 2px;
  background-color: #003b3c80;
  color: white;

  z-index: 2;
}

.jumbotron-bg-img {
  position: absolute;
  z-index: -1;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;  

  background-color: white;
  padding: 4rem;
  border-radius: 2rem;

  height: 35rem;
  width: 35rem;
}

.form-container > *:last-child {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 5%;
}

.form-title {
  margin-bottom: 1.7rem;
}

.btn-login {
  width: 100%;
  box-shadow: 0 2px 3px gray;
}

.form-container > hr {
  width: 100%;
  margin: 30px 0 30px 0;
  border-top-color: #003b3c40;
}

.auth-button {
  height: 4rem;
  align-items: center;
  cursor: pointer;
} .auth-button:hover {
  color: black !important;

  background-color: lightgray;
  transition: background-color 0.5s;
} 

.btn {
  background-color: #00dea5 !important;
  border-color: #00dea5 !important;
  transition: 0.5s background-color !important;
} .btn:hover {
  background-color: lightgreen !important;
  border-color: lightgreen !important;
}

.container {
  width: var(--standardised-container-width);
}


#congrats--img {
  height: 16rem;
  width: 16rem;
  margin-bottom: 2rem;

}

#congrats--text {
  margin: 0;
}

#prize--text {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.congrats--form {  
  align-items: center;
  justify-content: center;

  margin-top: var(--navbar-height);
  

  background-color: white;
  padding: 4rem;
  border-radius: 2rem;

  height: 35rem;
  width: 25rem;
  margin-top: 8em;
}

.congrats--container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main--container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.garden--form {  
  align-items: center;
  justify-content: center;
  
  background-color: white;

  padding: 4rem;
  padding-top: 0;

  height: 35rem;
  width: 25rem;
  margin: 0;
}


.garden--img {
  height: 16rem;
  width: 35rem;
}

.garden--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Leaderboard css */
.leaderboard-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userRow {
  background-color: #112A12
}

table {
  width: 50%;
  border-collapse: collapse;
  background-color: #48691e;
}

.headerTable, .tableRowText {
  border: 2px solid black;
  padding: 10px;
  color: white;
  text-align: center;
}
.choice--container {
  display: flex;
  flex-flow: column nowrap;

  background-color: white;
  padding: 4rem;
  padding-top: 0;

  height: 35rem;
  width: 35rem;
}

.detail--form {
  background-color: rgb(226, 218, 218);
  padding: 4rem;
  border-radius: 2rem;

  height: 20rem;
  width: 25rem;

  box-shadow: black 2px 2px 4px;
}

.modal--wrapper {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.friend-element {
  display: flex;
  justify-content: space-evenly;  

  background-color: white;
  padding: 2rem;
  border-radius: 2rem;

  width: 35rem;
}

.friend-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-flow: row nowrap;

}

.friend-group > *{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 4rem 0 0;
}

.friend-container {
  display: flex;
  justify-content: center;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 2rem;
}

/* 
Some hacky workarounds for the admin table. Basically reverting all
of the warcrimes Mui has committed on this table
*/
.admin-table-container {
  background-color: white !important;
}

.admin-table-btn {
  justify-content: space-between !important;

  font-family: inherit !important;
  font-size: 1rem !important;

  padding: 0.75rem !important;
  width: 100%;

  text-decoration: none !important;
  text-transform: none !important;
  color: black !important;
}

.admin-table-btn:after {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  
  height: 1px;
  width: 100%;

  content: "";
  background: grey;
}

.admin-table-btn > div:first-child > span {
  padding-right: 2rem !important;
}